// colors

$red: #f53838;
$red-35: rgba(245, 56, 56, 0.35);
$black: #0b132a;
$grey: #4f5665;
$grey-custom: rgba(79, 86, 101, 0.03);
$light-grey: #dddddd;
$light-grey-2: #dde0e4;
$green: #2fab73;
$white: #ffffff;
$light-brown: #ffecec;
$socials-shadow: rgba(17, 19, 35, 0.08);

// typography

$rubik: 'Rubik', 'Arial', sans-serif;
$rem-065: 0.65rem;
$rem-070: 0.7rem;
$rem-085: 0.85rem;
$rem-088: 0.88rem;
$rem-1: 1rem;
$rem-125: 1.25rem;
$rem-150: 1.5rem;
$rem-156: 1.56rem;
$rem-218: 2.18rem;
$rem-312: 3.125rem;

$line-143: 1.43rem;
$line-187: 1.87rem;
$line-312: 3.125rem;
$line-437: 4.37rem;

// Viewport

$vp-tablet: 1023px;
$vp-mobile: 767px;

// Transition

$transition-300: ease-in 0.3s;
