.hero {
	padding: 2.75rem 0 2.06rem 0;

	&__main {
		display: flex;
		flex-direction: column;
		gap: 6.43rem;

		@media (max-width: 62.5rem) {
			gap: 1.93rem;
		}

		@media (max-width: 31.25rem) {
			align-items: center;
		}
	}

	&__banner {
		display: flex;
		align-items: center;
		gap: 2vw;
	}

	&__left-menu {
		display: flex;
		flex-direction: column;
		gap: 3.12rem;

		@media (max-width: 31.25rem) {
			align-items: center;
		}
	}

	&__heading {
		display: flex;
		flex-direction: column;
		gap: 1.25rem;
	}

	&__title {
		font-weight: 500;
		font-size: clamp($rem-1, 8vw, $rem-312);
		line-height: $line-437;
		opacity: 0;

		width: 34.68rem;
		animation: hero-title ease-in forwards 2s;

		@media (max-width: 36.87rem) {
			max-width: 80vw;
			line-height: $line-312;
		}

		@media (max-width: 31.25rem) {
			text-align: center;
		}
	}

	&__description {
		font-weight: 400;
		font-size: $rem-1;
		line-height: $line-187;
		color: $grey;
		opacity: 0;

		width: 34.68rem;

		animation: hero-description 1s ease-in forwards 2s;

		@media (max-width: 36.56rem) {
			max-width: 80vw;
		}

		@media (max-width: 31.25rem) {
			text-align: center;
		}
	}

	&__btn {
		opacity: 0;
		animation: hero-btn 1s ease-in forwards 2.3s;
	}

	&__image {
		animation: heroImgFadeIn 1s ease-in forwards;
		max-width: 47vw;
		max-height: 51vh;

		@media (max-width: 62.5rem) {
			display: none;
		}
	}

	&__advantages {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-radius: 0.62rem;
		position: relative;
		background-color: $white;
		border-radius: 0 0 0.62rem 0.62rem;

		@media (max-width: 45.62rem) {
			flex-direction: column;
		}

		&::after {
			content: '';
			position: absolute;
			width: 103%;
			height: 60%;
			top: 7.93rem;
			left: -0.75rem;
			box-shadow: 0 0 6.25rem 0 $black;
			z-index: -1;
			border-radius: 0.62rem;
			opacity: 6%;
			background-color: $black;
			filter: blur(1rem);
		}
	}

	&__advantage {
		padding: 8vh 5vw 8vh 7vw;
		display: flex;
		align-items: center;
		gap: 2.25rem;
		background-color: $white;
		border-radius: 0.62rem;
		width: 23.75rem;

		@media (max-width: 56.25rem) {
			gap: 0.93rem;
		}

		@media (max-width: 45.62rem) {
			justify-content: center;
			padding: 4vh 5vw 4vh 7vw;
		}

		&--borders {
			position: relative;
			&::before {
				content: '';
				width: 0.12rem;
				height: 7.81rem;
				background-color: $grey;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 0;
				opacity: 20%;

				@media (max-width: 45.62rem) {
					content: none;
				}
			}

			&::after {
				content: '';
				width: 0.12rem;
				height: 7.81rem;
				background-color: $grey;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 0;
				opacity: 20%;

				@media (max-width: 45.62rem) {
					content: none;
				}
			}
		}
	}

	&__svg-wrap {
		background-color: $light-brown;
		border-radius: 4.37rem;
		width: 3.43rem;
		height: 3.43rem;
		padding: 0.93rem 0.93rem 0.93rem 0.93rem;
	}

	&__adv-textBlock {
		display: flex;
		flex-direction: column;
		gap: 0.31rem;

		@media (max-width: 45.62rem) {
			flex-direction: row;
			align-items: center;
		}
	}

	&__adv-number {
		font-weight: 700;
		font-size: $rem-156;
		line-height: $line-187;
	}

	&__adv-name {
		font-weight: 400;
		font-size: $rem-125;
		line-height: $line-187;
		color: $grey;
	}
}
